
services: 
 app:
  build:
   context: .
   dockerfile: docker/php/Dockerfile
  container_name: laravel_app
  restart: always
  ports:
   - "8080:80"
  volumes: 
   - ./src:/var/www/html
  depends_on:
   - db
  environment:
   APACHE_DOCUMENT_ROOT: /var/www/html/public
    
 db:
    image: mariadb:10.6
    container_name: laravel_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - db_data:/var/lib/mysql

volumes: 
 db_data:
